/* Page styles */
* {
  background-color: #fff;
}


/* Text styles */

.logo {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #000;
  position: relative;
  margin: 20px;
  float: left;
}

.logo > p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.info {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  color: #000;
  position: relative;
  float: left;
  clear: both;
  margin: 23px;
  line-height: 40px;
}

.info > p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 900;
}


/* Link styles */

a {
  text-decoration: none;
  color: #7CB0C2;
}

a:hover {
  text-decoration: none;
  color: #C28E7C;
}

a:visited {
  text-decoration: none;
  color: #8DC27C;
}
a:visited:hover {
  color: #C28E7C;
}
