/* Page styles */



/* Text styles */

.logo {
  font-family: helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #000;
  position: relative;
  margin: 5px;
  float: left;
}

.info {
  font-family: helvetica, sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #000;
  position: relative;
  float: left;
}


/* Link styles */

a {
  text-decoration: none;
  color: #7CB0C2;
}

a:hover {
  text-decoration: none;
  color: #C28E7C;
}

a:visited {
  text-decoration: none;
  color: #C28E7C;
}
